{% extends 'master.html.twig' %}

{% block page_title %}Companies{% endblock %}

{% block main %}
    <div class="max-w-sm rounded overflow-hidden shadow-lg float-left">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Companies</div>
            {% for company in companies %}
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <div class="flex mb-4">Empresa: {{ company.name }}</div>
                    <div class="flex mb-4">Numero de empleados: {{ company.numberEmployees }}</div>
                    <div class="flex mb-4">
                        Perks:
                        {% for perk in company.perks %}
                            {{ perk.name }}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {{ include('pages/companies/partials/new_company_form.html.twig') }}
    <div class="clearfix mb-10"></div>
    <hr class="mb-10">

{% endblock %}
